# Pandas Exercise

In [1]:
# load math module

In [2]:
import math

In [3]:
# what is cosine of 23

In [4]:
math.cos(23)

-0.5328330203333975

In [5]:
# calculate  2 to the power of 6 different ways

In [6]:
2 ** 6

64

In [7]:
math.pow(2, 6)

64.0

In [8]:
# temp = 'i am learning pandas'
# Extract 'am' from above strings

In [9]:
temp = 'i am learning pandas'

In [10]:
temp[2:4]

'am'

In [11]:
# mylst = [1,2,3,[4,5,['Hello', True]23,6], 34]
# extract 'Hello'from above string

In [12]:
mylst = [1,2,3,[4,5,['Hello', True],23.6], 34]

In [13]:
mylst[3]

[4, 5, ['Hello', True], 23.6]

In [14]:
mylst[3][2]

['Hello', True]

In [15]:
mylst[3][2][0]

'Hello'

In [16]:
# remove 34 from mylst available

In [17]:
 del mylst[-1]

In [18]:
mylst

[1, 2, 3, [4, 5, ['Hello', True], 23.6]]

In [19]:
mylst = [1,2,3,[4,5,['Hello', True],23.6], 34]

In [20]:
mylst.remove(34)

In [21]:
mylst

[1, 2, 3, [4, 5, ['Hello', True], 23.6]]

In [22]:
mylst = [1,2,3,[4,5,['Hello', True],23.6], 34]

In [23]:
mylst.pop()

34

In [24]:
mylst

[1, 2, 3, [4, 5, ['Hello', True], 23.6]]

In [25]:
# What is the difference between Tuple and list

In [26]:
 # Ans : -Tuple is immutable and liat is muttable

In [27]:
# create a function 'ctofconverter' which accept temparture in celcius and return farenheit

In [28]:
#F = 32 + 1.8 * C

In [29]:
def CtoFconverter(C):
    F = 32 + 1.8 * C
    return F

In [30]:
CtoFconverter(100)

212.0

In [31]:
# Calculate day when your birthda. Exp - Input 1st feb  : return 32
# Accept Birthmonth and birthday as input  (Assume feb has 28 days)

In [33]:
def Birthday(month, day):
    
    days = [31, 28, 31, 30, 31, 31, 30, 31, 30, 31, 30, 31]
    
    if day > 31:
        print('wrong day')
        return 0
    
    if month > 11:
        print('wrong month')
        return 0
    
    elif month == 0:
        return day
    
    elif month > 0:
        return (sum(days[:month]) + day)

In [34]:
Birthday(8, 10)

253

In [35]:
days = [31, 28, 31, 30, 31, 31, 30, 31, 30, 31, 30, 31]
    
sum(days[:8])

243

In [36]:
sum(days[:8]) + 10

253

In [37]:
Birthday(0, 10)

10

In [38]:
Birthday(10, 32)

wrong day

0

In [39]:
Birthday(11, 21)

355

In [40]:
# Given nested Dictionary object, Extract 'Hello' from it

In [41]:
mydict = {'k1': [23, 56, False],'k2' : {'k3': [1, 'Hello']}}

In [42]:
mydict['k2']

{'k3': [1, 'Hello']}

In [43]:
mydict['k2']['k3']

[1, 'Hello']

In [44]:
mydict['k2']['k3'][-1]

'Hello'

In [1]:
import numpy as np
import pandas as pd

In [3]:
data1 = pd.read_csv("original.csv", header=0)

In [4]:
data1.head(10)

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
5,IM-15070,Irene Maddox,Consumer,66,United States,Seattle,Washington,98103,West
6,HP-14815,Harold Pawlan,Home Office,20,United States,Fort Worth,Texas,76106,Central
7,PK-19075,Pete Kriz,Consumer,46,United States,Madison,Wisconsin,53711,Central
8,AG-10270,Alejandro Grove,Consumer,18,United States,West Jordan,Utah,84084,West
9,ZD-21925,Zuschuss Donatelli,Consumer,66,United States,San Francisco,California,94109,West

In [5]:
data2 = pd.read_csv("original.csv", header=0, index_col=0)

In [6]:
data2.head(10)

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
IM-15070,Irene Maddox,Consumer,66,United States,Seattle,Washington,98103,West
HP-14815,Harold Pawlan,Home Office,20,United States,Fort Worth,Texas,76106,Central
PK-19075,Pete Kriz,Consumer,46,United States,Madison,Wisconsin,53711,Central
AG-10270,Alejandro Grove,Consumer,18,United States,West Jordan,Utah,84084,West
ZD-21925,Zuschuss Donatelli,Consumer,66,United States,San Francisco,California,94109,West

In [8]:
data1.describe()

              Age   Postal Code
count  793.000000    793.000000
mean    44.467844  55229.717528
std     15.526673  31679.223816
min     18.000000   1841.000000
25%     31.000000  27217.000000
50%     45.000000  55901.000000
75%     58.000000  90004.000000
max     70.000000  99207.000000

In [10]:
data1.iloc[0]

Customer ID           CG-12520
Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: 0, dtype: object

In [11]:
data2.loc["CG-12520"]

Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: CG-12520, dtype: object

In [12]:
data2.iloc[0]

Customer Name      Claire Gute
Segment               Consumer
Age                         67
Country          United States
City                 Henderson
State                 Kentucky
Postal Code              42420
Region                   South
Name: CG-12520, dtype: object

In [13]:
data2.iloc[0:5]

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [14]:
data2.iloc[0:5:2]

,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
Customer ID,,,,,,,,
CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South