In [1]:
23

23

In [2]:
3.4

3.4

In [3]:
True

True

In [4]:
False

False

In [5]:
'Data analysis with Pandas'

'Data analysis with Pandas'

In [6]:
3+56.6

59.6

In [7]:
x=34

In [8]:
x

34

In [9]:
print(x)

34

In [10]:
type(x)

int

In [11]:
y = 23.6

In [12]:
print(y)

23.6

In [13]:
x+y

57.6

In [14]:
z = x* 12

In [15]:
z

408

In [16]:
x-2*y

-13.200000000000003

In [17]:
x = True

In [18]:
x

True

In [19]:
type(x)

bool

In [20]:
y

23.6

In [21]:
z = False

In [22]:
type(z)

bool

In [23]:
x * z

0

In [24]:
mystr = 'Data analysis with Pandas'

### comment

In [25]:
mystr

'Data analysis with Pandas'

In [26]:
type(mystr)

str

In [27]:
mystr.capitalize()

'Data analysis with pandas'

In [28]:
mystr

'Data analysis with Pandas'

In [29]:
mystr.upper()

'DATA ANALYSIS WITH PANDAS'

In [30]:
mystr.lower()

'data analysis with pandas'

In [31]:
type(mystr.split())

list

In [54]:
mystr.isdigit()

False

In [58]:
"98".isdigit()

True

In [59]:
mystr

'Data analysis with Pandas'

In [60]:
len(mystr)

25

In [61]:
mystr[5]

'a'

In [62]:
mystr[5:13]

'analysis'

In [63]:
mystr[5:]

'analysis with Pandas'

In [64]:
mystr[:4]

'Data'

In [65]:
mystr

'Data analysis with Pandas'

In [66]:
mystr[-6]

'P'

# looping and decision making

In [69]:
print("1")
print("2")
print("3")
print("4")

1
2
3
4

In [70]:
range(10)

range(0, 10)

In [74]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [75]:
lst = [23,34,56,67,78]

In [76]:
for temp in lst:
    print(temp)

23
34
56
67
78

In [77]:
for temp in lst:
    if(temp % 2 == 1):
        print(temp, 'is odd')
    else:
        print(temp, 'is even')

23 is odd
34 is even
56 is even
67 is odd
78 is even

# Listand tuples

In [2]:
lst = [23, 34.5,True, 'i m in list', 100]

In [3]:
lst

[23, 34.5, True, 'i m in list', 100]

In [4]:
type(lst)

list

In [6]:
lst[4]

100

In [7]:
lst[2:4]

[True, 'i m in list']

In [8]:
lst[:3]

[23, 34.5, True]

In [9]:
lst

[23, 34.5, True, 'i m in list', 100]

In [11]:
lst[2:5]

[True, 'i m in list', 100]

In [12]:
lst[:3]

[23, 34.5, True]

In [13]:
lst[1:]

[34.5, True, 'i m in list', 100]

In [14]:
lst[4]

100

In [15]:
lst[-1]

100

In [16]:
lst[-2]

'i m in list'

In [17]:
lst.pop()

100

In [18]:
lst

[23, 34.5, True, 'i m in list']

In [19]:
lst.append(6.5)

In [20]:
lst

[23, 34.5, True, 'i m in list', 6.5]

In [21]:
lst.append(['a', 'b','c'])

In [22]:
lst

[23, 34.5, True, 'i m in list', 6.5, ['a', 'b', 'c']]

In [23]:
lst.remove(34.5)

In [24]:
lst

[23, True, 'i m in list', 6.5, ['a', 'b', 'c']]

In [25]:
lst.reverse()

In [26]:
lst

[['a', 'b', 'c'], 6.5, 'i m in list', True, 23]

In [28]:
lst.count(6.5)

1

In [29]:
lst.append(6.5)

In [30]:
lst

[['a', 'b', 'c'], 6.5, 'i m in list', True, 23, 6.5]

In [31]:
lst.count(6.5)

2

In [34]:
len(lst)

6

# tuples

('a','b', 'c')

In [38]:
tup = ('a','b', 'c')

In [39]:
tup

('a', 'b', 'c')

In [40]:
type(tup)

tuple

In [41]:
tup[1] = 'd'

TypeError: 'tuple' object does not support item assignment

In [42]:
tup.count('a')

1

# Dictionary

In [45]:
{
    'john' : '123-345-5678',
    'Alice' : '234-456-2345',
    'Bob' : '123-345-6789'
}

{'john': '123-345-5678', 'Alice': '234-456-2345', 'Bob': '123-345-6789'}

In [46]:
myphnbook = {
    'john' : '123-345-5678',
    'Alice' : '234-456-2345',
    'Bob' : '123-345-6789'
}

In [47]:
myphnbook

{'john': '123-345-5678', 'Alice': '234-456-2345', 'Bob': '123-345-6789'}

In [48]:
type(myphnbook)

dict

In [50]:
myphnbook.keys()

dict_keys(['john', 'Alice', 'Bob'])

In [51]:
myphnbook.values()

dict_values(['123-345-5678', '234-456-2345', '123-345-6789'])

In [52]:
myphnbook['Alice']

'234-456-2345'

In [53]:
for key in myphnbook.keys():
    print(key)

john
Alice
Bob

In [54]:
for key in myphnbook.keys():
    print(key, myphnbook[key])

john 123-345-5678
Alice 234-456-2345
Bob 123-345-6789

# sets

In [61]:
myset = {'a', 'b', 'c'}

In [62]:
myset

{'a', 'b', 'c'}

In [63]:
type(myset)

set

In [64]:
myset.add('d')

In [65]:
myset

{'a', 'b', 'c', 'd'}

In [66]:
myset.add('a')

In [67]:
myset

{'a', 'b', 'c', 'd'}

In [68]:
myset.remove('c')

In [69]:
myset

{'a', 'b', 'd'}

# functions

In [ ]:
for temp in range(100):
    print('Pandas')

In [79]:
def PrintPandas():
    for temp in range(5):
        print('Pandas')

In [80]:
PrintPandas()

Pandas
Pandas
Pandas
Pandas
Pandas

In [86]:
def PrintPandasxTimes(x):
    for temp in range(x):
        print('Pandas')

In [87]:
PrintPandasxTimes(15)

Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas
Pandas