# Strings

In [1]:
str1 = "St Python tutorial"

In [2]:
print(str1)

St Python tutorial

In [4]:
s = 'Python'

In [5]:
print("st {} Tutorial".format(s))

st Python Tutorial

In [8]:
var1 =14

In [10]:
print("st {} Tutorial {}".format(s, var1))

st Python Tutorial 14

In [11]:
len(str1)

18

In [12]:
str1.replace("Python", "SQL" )

'St SQL tutorial'

In [13]:
x = str1.replace("Python", "SQL" )
x

'St SQL tutorial'

In [14]:
x[1]

't'

In [15]:
x[2:5]

' SQ'

In [16]:
x[3:6]

'SQL'

In [17]:
x[-1]

'l'

In [18]:
x[5:]

'L tutorial'

In [19]:
x[2:10:2]

' Q u'

In [20]:
x

'St SQL tutorial'

In [21]:
type(x)

str

In [22]:
type(var1)

int

# Lists

In [26]:
l1 = [1,2,3,4]

In [27]:
type(l1)

list

In [28]:
print(l1)

[1, 2, 3, 4]

In [30]:
l1[0]

1

In [31]:
l1[0:5]

[1, 2, 3, 4]

In [32]:
l1[0:3]

[1, 2, 3]

In [33]:
l1[::2]

[1, 3]

In [34]:
l1[::3]

[1, 4]

In [35]:
l2 = [1,"a", 2.5]

In [36]:
type(l2[0])

int

In [37]:
type(l2[1])

str

In [38]:
type(l2[2])

float

In [39]:
type(l2)

list

In [40]:
l3 = [l2, 1, 2.0]

In [41]:
print(l3)

[[1, 'a', 2.5], 1, 2.0]

In [42]:
type(l3[0])

list

In [43]:
l3[0][1]

'a'

In [44]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [45]:
l4 = list(range(0,10,2))

In [46]:
l4

[0, 2, 4, 6, 8]

In [47]:
l4.sort(reverse=True)

In [48]:
l4

[8, 6, 4, 2, 0]

In [50]:
l4.append(10)

In [51]:
l4

[8, 6, 4, 2, 0, 10]

In [52]:
l4[0] = 3

In [53]:
l4

[3, 6, 4, 2, 0, 10]

In [54]:
l4[1:3]=[5,7]

In [55]:
l4

[3, 5, 7, 2, 0, 10]

In [56]:
l4.insert(0, "15")

In [57]:
l4

['15', 3, 5, 7, 2, 0, 10]

In [58]:
l4.remove(3)

In [59]:
l4

['15', 5, 7, 2, 0, 10]

In [60]:
del l4[0]

In [61]:
l4

[5, 7, 2, 0, 10]

In [ ]:
help(list)

# Tuples

In [64]:
t1 = (1,2)

In [65]:
t1

(1, 2)

In [66]:
t1[0]=3

TypeError: 'tuple' object does not support item assignment

In [67]:
type(t1)

tuple

# Dictionary

In [68]:
d1 = {"key1": 1, 
      "key2": 2,
      "key3": 3,
      "key4": 4}

In [69]:
d1

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [71]:
type(d1)

dict

In [73]:
d1["key1"]

1

In [74]:
d1[0]

KeyError: 0